<style type="text/css">
#td0 { border-style:solid; border-width:thin; color:red;}
#td1 { border-style:none;}
#bu { border-style:solid; border-color:#d920a4; border-radius:4px; border-width:thin; bgcolor:#fff2fb; color:#54013c;}
</style>